<!doctype html>
<html>
  <head>
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>{% block title %}{% endblock %} - PbNotify</title>
    {% endblock %}
  </head>
  <body>
    <div id="content">{% block content %}{% endblock %}</div>
	<br /><br />
    <div id="footer" style="font-size:small;">
      {% block footer %}
      PbNotify by Yasyf Mohamedali. A HackMIT production. <a href="https://github.com/yasyf/HackMIT">PbNotify on GitHub</a>.
      {% endblock %}
    </div>
  </body>
</html>